[Unit]
Description=Run Liturgical Calendar Display
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/bin/bash -c 'source {{PROJECT_DIR}}/venv/bin/activate && python3 -m liturgical_display.main'
WorkingDirectory={{PROJECT_DIR}}
StandardOutput=journal
StandardError=journal
Restart=no 