[Unit]
Description=Run Liturgical Calendar Display
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 {{HOME}}/liturgical_display/main.py
WorkingDirectory={{HOME}}/liturgical_display
StandardOutput=journal
StandardError=journal
Restart=no 